/*
https://material.io/resources/color/#!/?view.left=0&view.right=0&secondary.color=689F38&primary.color=0D47A1
*/
@keyframes ripple-pressed {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 0.5;
    transform: scale(1);
  }
  95% { 
    opacity: 0;
    transform: scale(2);
  }
  100% { 
    transform: scale(1);
  }
}

$primary-color: #0d47a1;
$primary-light-color: #5472d3;
$primary-dark-color: #002171;
$on-primary-color: #FFFFFF;
$on-primary-light-color: #000000;
$on-primary-dark-color: #f1f8e9;

$secondary-color: #689f38;
$secondary-light-color: #99d066;
$secondary-dark-color: #387002;
$on-secondary-color: #FFFFFF;
$on-secondary-light-color: #000000;
$on-secondary-dark-color: #FFFFFF;

$error-color:#B00020;
$on-error-color: #FFFFFF;

body{
  background-color: #e3f2fd;
  font-family: 'Montserrat', sans-serif;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {  
  background: $secondary-color;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  text-shadow: 0.1rem 0.1rem 0.1rem $secondary-dark-color;
  color: $on-primary-color;
  font-weight: 500;
  box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.25), 0px 0 6px 0px rgba(0, 0, 0, 0.15);
  padding: 0.1rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

main{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

#main-container{
  margin: 1rem;
  & > div{
    margin: 1rem;
  }
  
}

.data-entry-section, #results-container{
  margin: 1rem;
  overflow: hidden;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2), 0px 0px 6px 3px rgba(0, 0, 0, 0.12);
  background-color: $on-primary-color;
}


.data-entry-section-header{
  background: linear-gradient(to right, $primary-light-color , $primary-color 20%,  $primary-color 80%, $primary-light-color );
  color: $on-primary-color;
  padding: 0.5rem;
}

.data-entry-section-content{
  font-family: 'Roboto', sans-serif;
  margin: 1rem;
  color: $primary-dark-color;
  input{
    color: $primary-dark-color;
  }
}

#results-container-header{
  background: linear-gradient(to right, $secondary-light-color , $secondary-color 20%,  $secondary-color 80%, $secondary-light-color );
  color: $on-primary-color;
  padding: 0.5rem;
}

#results-container-content{
  font-family: 'Roboto', sans-serif;
  margin: 1rem;
  color: $primary-dark-color;
}


.results-message{
  font-weight: 700;
}

.results-row{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  .results-row-label{
    width: 50%;
    text-align: right;
  }
  .results-row-value{
    width: 50%;
    text-align: left;
    padding-left: 1rem;;
  }

}

.radio-group-item{
  display: inline-block;
  margin: 0 1rem;
  position: relative;
  line-height: 1rem;
}

input[type=radio] { 
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  z-index: 2;
  
}

.radio-look {  
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem;
  border: 1px solid $primary-dark-color;
  border-radius: 100%;
  position: relative;
  margin-right: 0.3rem;
  box-sizing: border-box;
}


.radio-look:before {
  content: "";
  position: absolute;
  border: 1px  solid $primary-color;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $primary-light-color ; 
  opacity: 0;
  border-radius: 100%;
  transform: scale(0.5)
}

/*used for ripple effect*/
.radio-look:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  background-color: $primary-light-color ; 
  opacity: 0;
}

/*
input[type=radio]:checked + .radio-look:after {
  content: "\2713";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color:white;
  position: absolute;
  font-size: 0.9rem;
}
*/



input[type=radio]:checked {
  + .radio-look:before{
    opacity: 1;
  }
  + .radio-look{
    border-color: $primary-light-color;
  }  
}


input[type=radio]:focus + .radio-look:after{
  animation: ripple-pressed .5s ease-out;
}
input[type=radio]:checked:focus + .radio-look:after{
  animation: ripple-pressed .5s ease-out backwards;
}

/*need to disable it for mobile because it is misbehaving*/
input[type=radio]:hover{
  + .radio-look:after{
    opacity: 0.1;    
    transform: scale(2);
    transition: 0.5s ease-in;
  }
  &:not(:checked) + .radio-look:after{
    background-color: $primary-dark-color ; 
  }
  &:checked + .radio-look:after{
    background-color: $primary-light-color ; 
  }
}

/*the conflict between hover and focused could be better handled with events listeners*/

input[type=text], input[type=number]{
  background-color: darken($on-primary-color, 5%);
  border: none;
  border-radius: 0.25rem 0.25rem 0 0 ;
  border-bottom: 0.1rem solid darken($on-primary-color, 20%);

  &:focus{
    background-color: darken($on-primary-color, 15%);
    border-color: $primary-light-color;
    outline: none;
    transition: 0.2s ease-in-out;
  }
}

label, input, .radio-group-item, .radio-group-label, .container-label{
  padding: 0.5rem;
}


.input-text-number-container, #other-deductions-main-container{
  padding: 0.5rem;
}

.input-text-number-container{
  display: flex;
  align-items: center;
  label{
    text-align: right;
    width: 50%;
  }
  input{
    text-align: left;
  }
}

#w2-info-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.w2-info{
  flex: 1;
}


button{
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem;
  background-color: $secondary-color;
  color: $on-secondary-color;
  font-weight: 700;
  box-shadow: 2px 2px 2px 0px rgba(56, 112, 2, 0.2), 0px 0px 7px 2px rgba(56, 112, 2, 0.15);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  background-position: center;
  transition: 0.8s;
  outline: none;
  &:hover {
    background:lighten($color: $secondary-color, $amount: 5%) radial-gradient(circle, transparent 1%,  lighten($color: $secondary-color, $amount: 5%) 1%) center/15000%;
    cursor: pointer;
  }
  &:active{
    background-color: lighten($color: $secondary-color, $amount: 20%);
    background-size: 100%;
    transition: 0s;
    outline: none;
  }
}

#controls-container{
  padding: 2rem;
}

.graph-container{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}