/*
https://material.io/resources/color/#!/?view.left=0&view.right=0&secondary.color=689F38&primary.color=0D47A1
*/
@keyframes ripple-pressed {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 0.5;
    transform: scale(1);
  }
  95% { 
    opacity: 0;
    transform: scale(2);
  }
  100% { 
    transform: scale(1);
  }
}

$primary-color: #0d47a1;
$primary-light-color: #5472d3;
$primary-dark-color: #002171;
$on-primary-color: #FFFFFF;
$on-primary-light-color: #000000;
$on-primary-dark-color: #f1f8e9;

$secondary-color: #689f38;
$secondary-light-color: #99d066;
$secondary-dark-color: #387002;
$on-secondary-color: #FFFFFF;
$on-secondary-light-color: #000000;
$on-secondary-dark-color: #FFFFFF;

$error-color:#B00020;
$on-error-color: #FFFFFF;

body{
  background: radial-gradient( scale-color($primary-color, $lightness: 80%, $saturation: -50%) 10%, scale-color($primary-color, $lightness: 50%)  );
  font-family: 'Montserrat', sans-serif;
  background: scale-color($primary-color, $lightness: 98%, $saturation: -0%);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#App {
  text-align: center;
  min-height: 100vh;
  //position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {  
  background: $secondary-color;  
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  text-shadow: 0.1rem 0.1rem 0.1rem $secondary-dark-color;
  color: $on-primary-color;
  font-weight: 500;
  box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.25), 0px 0 6px 0px rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

main{
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  flex-grow: 1;
}

#main-container{
  margin: 1rem;
  align-self: center;
  
}

.data-entry-section, #results-container{
  margin: 1rem;
  overflow: hidden;
  //border-radius: 0.3rem;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2), 0px 0px 6px 3px rgba(0, 0, 0, 0.12);
  background-color: $on-primary-color;
}


.data-entry-section-header{
  background: linear-gradient(to right, $primary-light-color , $primary-color 20%,  $primary-color 80%, $primary-light-color );
  color: $on-primary-color;
  padding: 1rem;
  font-weight: bold;
  background: $primary-color 20%;
}

.data-entry-section-content{
  font-family: 'Roboto', sans-serif;
  margin: 1rem;
  color: $primary-dark-color;
  input{
    color: $primary-dark-color;
  }
}

#results-container-header{
  //background: linear-gradient(to right, $secondary-light-color , $secondary-color 20%,  $secondary-color 80%, $secondary-light-color );
  color: $on-primary-color;
  padding: 1rem;
  font-weight: bold;
  background: $secondary-color;
}

#results-container-content{
  font-family: 'Roboto', sans-serif;
  margin: 1rem;
  color: $primary-dark-color;
}


.results-message{
  font-weight: 700;
}

.results-row{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  .results-row-label{
    width: 50%;
    text-align: right;
  }
  .results-row-value{
    width: 50%;
    text-align: left;
    padding-left: 1rem;;
  }

}

/*Render radios as columns for more coherent UI and better UX*/
.radio-group-radio-items-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  & .radio-group-item{
    text-align: left;
  }
}


.radio-group-item{
  display: inline-block;
  margin: 0 1rem;
  position: relative;
  line-height: 1rem;
}

input[type=radio] { 
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  z-index: 2;
  
}

.radio-look {  
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem;
  border: 1px solid $primary-dark-color;
  border-radius: 100%;
  position: relative;
  margin-right: 0.3rem;
  box-sizing: border-box;
}


.radio-look:before {
  content: "";
  position: absolute;
  border: 1px  solid $primary-color;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $primary-light-color ; 
  opacity: 0;
  border-radius: 100%;
  transform: scale(0.5)
}

/*used for ripple effect*/
.radio-look:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  background-color: $primary-light-color ; 
  opacity: 0;
}

input[type=radio]:checked {
  + .radio-look:before{
    opacity: 1;
  }
  + .radio-look{
    border-color: $primary-light-color;
  }  
}


input[type=radio]:focus + .radio-look:after{
  animation: ripple-pressed .5s ease-out;
}
input[type=radio]:checked:focus + .radio-look:after{
  animation: ripple-pressed .5s ease-out backwards;
}

/*need to disable it for mobile because it is misbehaving*/
input[type=radio]:hover{
  + .radio-look:after{
    opacity: 0.1;    
    transform: scale(2);
    transition: 0.5s ease-in;
  }
  &:not(:checked) + .radio-look:after{
    background-color: $primary-dark-color ; 
  }
  &:checked + .radio-look:after{
    background-color: $primary-light-color ; 
  }
}

/*the conflict between hover and focused could be better handled with events listeners*/

input[type=text], input[type=number]{
  background-color: darken($on-primary-color, 5%);
  border: none;
  border-radius: 0.25rem 0.25rem 0 0 ;
  border-bottom: 0.1rem solid darken($on-primary-color, 20%);

  &:focus{
    background-color: darken($on-primary-color, 15%);
    border-color: $primary-light-color;
    outline: none;
    transition: 0.2s ease-in-out;
  }
}

label, input, .radio-group-item, .radio-group-label, .container-label{
  padding: 0.5rem;
}


.input-text-number-container, #other-deductions-main-container{
  padding: 0.5rem;
}

.input-text-number-container{
  display: flex;
  align-items: center;
  label{
    text-align: right;
    flex: 1 1 0px;
  }
  input{
    text-align: left;
  }
}

#w2-info-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.w2-info{
  flex: 1;
}

.w2-info-header{
  font-weight: 700;
}


button{
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 0.3rem;
  margin: 1rem;
  padding: 1rem;
  background-color: $secondary-color;
  color: $on-secondary-color;
  font-weight: 700;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2), 0px 0px 8px 3px rgba(0, 0, 0, 0.12);
  //text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  background-position: center;
  transition: 0.8s;
  outline: none;
  min-width: 8rem;
  font-weight: 900;
  &:hover {
    background:lighten($color: $secondary-color, $amount: 5%) radial-gradient(circle, transparent 1%,  lighten($color: $secondary-color, $amount: 5%) 1%) center/15000%;
    cursor: pointer;
  }
  &:active{
    background-color: lighten($color: $secondary-color, $amount: 20%);
    background-size: 100%;
    transition: 0s;
    outline: none;
  }
}

#controls-container{
  padding: 1rem;
}


#graph-label{
  max-width: 30rem;
  padding-top: 1rem;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

.messageForNonRefundableTaxCredits{
  max-width: 30rem;
  text-align: left;
  font-size: 0.8rem;
}

.graph-container{
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}


footer{
  background-color: $primary-color;
  color: $on-secondary-dark-color;
  font-size: 0.65rem;
  //position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
}


@media only screen and (max-width: 900px) {
  #w2-info-container{
    flex-direction: column;
    .w2-info{
      margin: 1rem 0;
    }
  }
}

@media only screen and (max-width: 450px) {
  .input-text-number-container{
    flex-direction: column;
    & label{
      width: auto;
      text-align: center;
    }
  }
  button{
    min-width: 6rem;
  }
}


@media only screen and (max-width: 350px) {
  .App-header{
    font-size: 1.5rem;
  }
  
}